body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  direction: rtl; /* חשוב מאוד לעברית */
  background-color: #ffffff; /* רקע לבן נקי */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}